@value annesNavy,annesPink,annesBabyPink,annesNavyBlack from '../../common/colors.css';


.profile{
  display: flex;
  flex-basis: 80%;
  background-color: white;
  padding: 1em;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
  flex-direction: column;
}
.delete{
  position: relative;
  text-align: right;
  color: grey;
  cursor: pointer;
  font-size: 0.7em;
}
.delete:hover{
  color:black;
}
.infoBox{
  margin:1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title{
  font-size: 1em;
  color: annesNavy;
}
.imgbox{
  display: flex;
  flex-basis: 20%;
}
.profileimg{
  width: 130px;
  height: 130px;
  background-color: annesPink;
  border-radius: 50%;
  margin: 0em 2em;
  border: 3px solid annesPink;
}

.info{
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.name{
  font-size:2em;
  font-weight: bold;
}

.grade {
  font-size: 1em;
  color: annesPink;

}
.date, .address{
  font-size: 0.7em;
  color: grey;
}