@value annesNavy,annesPink,annesBabyPink,annesNavyBlack from '../../common/colors.css';

.information{
  min-width: 60%;
  width: 100%;
  display: flex;
  background-color: white;
  padding: 1em;
  flex-direction: column;
}

.profile{
  display: flex;
  flex-direction: column;
  height: 25%;
  width: 100%;
}
.tabs{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}
.selectedPanel::-webkit-scrollbar{
  width:8px;
}

.selectedPanel::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.11);
}

.selectedPanel{
  height: 100%;
  padding: 0 0.5em;
  overflow-y: auto;
}
.buttons{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.button{
  color: grey;
  cursor: pointer;
  font-size: 0.7em;
  margin-left: 1em;
  min-width: 2em;
}
.button:hover{
  color:black;
}
.infoBox{
  margin:1em;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.title{
  font-size: 1em;
  color: annesNavy;
}
.imgbox{
  display: flex;
  flex-basis: 20%;
}
.profileimg{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  margin: 0em 2em;
}
.anne{
  background-color: annesPink;
  border: 3px solid annesPink;
}

.gilbert{
  background-color: mediumturquoise;
  border: 3px solid mediumturquoise;
}

.anneText{
  color:annesPink;
}

.gilbertText{
  color:mediumturquoise;
}

.profileInfo{
  min-width: 9em;
  flex-basis: 80%;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.name{
  font-size:2em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.gradeSex {
  font-size: 1em;
  margin-bottom: 0.1rem;

}
.date, .address, .hp{
  font-size: 0.7em;
  color: grey;
  margin-bottom: 0.1rem;
}
@media all and (max-width:576px) {
  .infoBox {
    flex-direction: column;
  }
  .profileInfo{
    margin-top:1em;
    text-align: center;
  }
  .profile{
    flex-direction: column;
    height: auto;
  }
  .information {
    overflow-y: scroll;
  }
  .information::-webkit-scrollbar{
    width:8px;  
  }
  .taps{
    height: auto;
  }
  .information::-webkit-scrollbar-thumb{
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.11);
}
  .selectedPanel{
    overflow:visible;
    height:auto;
  }
}