@value annesNavyBlack, annesLightGrey from '../../../../../common/colors.css';

.container{
  margin-bottom: 0.5em;
}
.date{
  display: flex;
  padding: 0 0.5em;
}

.dateInput{
  border-style: none;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 0.8em;
  font-weight: bold;
}

.plus{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: whitesmoke;
  padding: 0.5em;
  cursor: pointer;
  color:gray;
}

.plus:hover{
  color:annesNavyBlack;
  background-color: annesLightGrey;
  opacity: 1;
}