.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.return{
    position: absolute;
    left: 1em;
    top: 1em;
    border:none;
    outline: none;
    border-radius: 1em;
    padding:0.5em;
    background-color: transparent;
    font-weight: bold;
    opacity: 0.5;
  }

.ownerMenu{
    width: 800px;
    height: 600px;
    border-radius: 3px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1em;
}

.button{
    margin: 0 1em 1em 1em;
}
.editor{
    margin-top: 1em;
    flex: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-y: scroll;
    background-color: rgb(228, 228, 228);
}
.editorMain{
}
.studentList{
    color:black;
}