@value annesPink, annesLightGrey,annesBabyPink, annesNavy, annesNavyBlack from '../../../../common/colors.css';

.book{
  background-color: #f0f0f0;
  display: flex;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 1em;
  flex-wrap: wrap;
  transition: ease-in-out 50ms;
}
.name{
  display: flex;
  flex: 1 1 60%;
  justify-content: center;
}

.delete{
  font-size: 1rem;
  border-style: none;
  display: flex;
  color: annesNavy;
  background-color: #ffffff00;
  flex: 1 1 10%;
  justify-content: flex-end;
}

.button:hover{
  color: red;
}

.status{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1 1 10%;
}
.buttons{
  display: flex;
  align-items: center;
  flex-basis: 10%;
  justify-content: flex-end;
}

.paid, .completed, .unpaid, .uncompleted{
  margin: 0 0.3em;
  border-radius: 1em;
  border-style: none;
  color: white;
}
.paid, .completed{
  background-color: green;
  
}
.unpaid, .uncompleted{
  background-color: annesPink;
}

@media all and (max-width:768px) {
  .status{
    flex: 1 1 100%;
    justify-content: center;
  }
  .name{
    flex: 1 1 100%;
    margin-top:0.4em;
  }
  .buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
  }
  .book{
    position: relative;
  }
}