@value annesPink, annesLightGrey,annesBabyPink, annesNavy, annesNavyBlack from '../../../../common/colors.css';

.book{
  background-color: #f0f0f0;
  display: flex;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 1em;
}
.book:hover{
  background-color: rgb(224, 224, 224);
}
.name{
  flex-basis: 70%;
}

.button{
  margin: 0 0.3em;
  border-radius: 1em;
  border-style: none;
  color: white;
}

.status{
  display: flex;
  align-items: center;
  flex-basis: 20%;
  min-width: 11em;
  justify-content: flex-start;
}
.buttons{
  display: flex;
  align-items: center;
  flex-basis: 10%;
  min-width: 6em;
  justify-content: flex-end;
}

.edit{
  background-color: #818181;
}
.delete{
  background-color: annesNavy;
}
.paid, .completed{
  background-color: green;
}
.unpaid, .uncompleted{
  background-color: annesPink;
}