@value annesLightGrey,annesBabyPink, annesNavy, annesNavyBlack from '../../../../common/colors.css';


.course{
  background-color: #f0f0f0;
  display: flex;
  padding: 0.2em;
  margin: 0.5em;
  border-radius: 1em;
  transition: ease-in-out 50ms;
  position: relative;
  align-items: center;
}
.info{
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 10%;
}
.subject, .time, .teacher{
  margin-left: 0.5em;
  display: flex;
  align-items: center;
}

.delete{
  font-size: 1rem;
  border-style: none;
  color: annesNavy;
  background-color: #ffffff00;
  display: flex;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0.5em;
}

button:hover{
  opacity: 0.8;
}
