@value annesLightGrey,annesBabyPink, annesNavy, annesNavyBlack from '../../../../common/colors.css';


.course{
  background-color: #f0f0f0;
  display: flex;
  justify-content:space-between;
  padding: 0.2em 1em;
  margin: 0.5em;
  border-radius: 1em;
  color: annesNavyBlack;
  transition: ease-in-out 50ms;
}
.info{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 80%;
}
.buttons{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 10%;
}
.subject, .time, .teacher{
  font-size: 1rem;
  margin: 0 0.3em;
  display: flex;
  border-radius: 1em;
  border-style: none;
  padding:1px;
}

.delete{
  font-size: 1rem;
  border-style: none;
  display: flex;
  color: annesNavy;
  background-color: #ffffff00;
  flex: 1 1 10%;
  justify-content: flex-end;
}

button:hover{
  opacity: 0.8;
}

@media all and (max-width:768px) {
  .buttons{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5em;
  }
  .course{
    position: relative;
  }
}