@value annesPink, annesLightGrey,annesBabyPink, annesNavy, annesNavyBlack from '../../../common/colors.css';

.container{
  flex-direction: column;
  height: 100%;
  min-height: 80%;
  width: 100%;
  display: flex;
}
.columnName{
  display: flex;

}
.books{
  height: 100%;
  border: annesNavy solid 1px;
  display: flex;
  margin:0;
  flex-direction: column;
  overflow-y: scroll;
}
.fields{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
  font-weight: bold;
}
.title {
  width: 70%;
  text-align: center;
  background-color:annesNavy;
  color: white;
  padding:0.3em;
}
.price{
  width: 30%;
  text-align: center;
  background-color:annesNavy;
  color: white;
  padding:0.3em;
}
.bookLists{
  height: 100%;
}


.books::-webkit-scrollbar{
  width:6px;
}

.books::-webkit-scrollbar-thumb{
  background-color:rgba(0, 0, 0, 0.075) ;
  border-radius: 6px;
}
.books::-webkit-scrollbar-thumb:hover{
  background-color: rgba(0, 0, 0, 0.144);
}
