@value annesNavy,annesPink,annesBabyPink,annesNavyBlack from '../../common/colors.css';


.students{
  flex-basis: 50%;
  border-right: 1px solid lightgrey;
  text-align: center;
  position: relative;
}

.title{
  font-size: 1em;
  color: annesNavy;
}

li{
  list-style: none;
}

.addStudents{
  position:absolute;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border-style: none;
  background-color: annesNavy;
  font-size: 1em;
  color:white;
  cursor: pointer;
}

.addStudents:hover{
  opacity: 0.8;
}