@value annesLightGrey, annesNavy,annesPink,annesBabyPink,annesNavyBlack from '../../common/colors.css';


.students{
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 20%;
  background-color: #f8f8f8;
  text-align: center;
  position: relative;
  -webkit-box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1); 
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
}

.title{
  justify-content: center;
  flex-basis: 5%;
  display: flex;
  margin:0;
  font-size: 0.9em;
  color: annesNavy;
  background-color: annesBabyPink;
  padding:0.7em;
}

.studentList{
  flex-basis: 90%;
  min-width: 4em;
  display: flex;
  flex-direction: column;
  overflow-y:scroll;
  margin: 1em;
}
.studentList::-webkit-scrollbar{
  width:8px;
}

.studentList::-webkit-scrollbar-thumb{
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.11);
}
.addStudents{
  position:absolute;
  right: 1rem;
  bottom: 1rem;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  border-style: none;
  background-color: annesNavy;
  font-size: 1em;
  color:white;
  cursor: pointer;
}

.addStudents:hover{
  opacity: 0.8;
}