@value annesLightGrey,annesBabyPink from '../../../common/colors.css';

.student{
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.3em;
  cursor: pointer;
  border-bottom: 1px solid annesLightGrey;
  width: 100%;
  position: relative;
}

.selected{
  background-color: annesLightGrey;

}

.student:hover{
  background-color: annesLightGrey;
}

.grade {
  position: absolute;
  right: 2em;
  font-size: 0.3em;
}

.name { 
  font-size:1em;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media all and (max-width:576px) {
  .name {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .grade{
    display: none;
}
}