@value annesLightGrey,annesBabyPink from '../../../common/colors.css';

.student{
  align-items: center;
  display: flex;
  justify-content: space-around;
  padding: 0.5em;
  cursor: pointer;
  border-bottom: 1px solid annesLightGrey;
  width: 100%;
  position: relative;
}

.selected{
  background-color: annesLightGrey;

}

.student:hover{
  background-color: annesLightGrey;
}

.grade {
  width: 30%;
  font-size: 0.3em;
  text-align: center;
}

.name { 
  font-size:1em;
  width: 70%;
  text-align: center;
}
